/* Solarized-colors: */
  base03: #002b36;
  base02: 073642;
  base01: 586e75;
  base00: 657b83;
  base0: 839496;
  base1: 93a1a1;
  base2: eee8d5;
  base3: fdf6e3;
*/

html, body, div, h1, h2, p {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  background: #002b36; 
  color: #93a1a1;
}

.everything
{
  width: 100%;
  height: 500px;
}

.center {
  width: 800px;
  margin: 0px auto 0px auto;
  padding: 100px 100px 0px 100px;
  background: transparent url( 'pics/Ace.png' ) no-repeat 810px 55px;
}

.header {
  background: transparent;
}

.header h1 {
  font-size: 4em;
  font-family: Ubuntu;
  margin: 0px 0px -7px -20px;
  padding: 0px;
  /* letter-spacing: 10px; */
}

.content {
  background: #073642;
}

.buttons_panel {
  width: 150px;
  display: inline-block;
  padding: 0px;
  margin: 10px;
  background: #002b36;
}

.buttons_panel p {
  margin: 0px;
  padding: 0px;
}

.button {
  display: inline-block;
}






.footer {
  display: block; /* for inline-theming */
  font-size: 10px;
  font-family: sans-serif;
  text-align: center;
}
